/* Container 1755 */
/* .container {
    position: absolute;
    top: 20px;
    left: 50px;
    width: 100px;
    height: 58px;
    background: #FFFFFFFF;
    border-radius: 0px;
  } */

  .container-logo{
    position: absolute;
    top: 20%;
    left: 20%;
    width: 200px;
    height: 58px;
    background: #FFFFFFFF;
  }

  .logo-h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: rgb(26, 158, 129);
  }
 
  .container-home{
    position: absolute;
    top: 40%;
    left: 20%;
    width: 450px;
    height: 80px;
  }
  .container-signup{
    position: absolute;
    border-radius: 20px;
    top: 15%;
    left: 40%;
    width: 30%;
    height: 80%;
    background: rgb(184, 224, 201);

  }
 .container-signin{
    position: absolute;
    border-radius: 20px;
    top: 15%;
    left: 40%;
    width: 30%;
    height: 50%;
    background: rgb(184, 224, 201);
  }

 .container-usercategory{
  position:absolute;
  width: 100%;
  height: auto;
  /* background-color: rgb(209, 226, 226); */
  margin: 10px;
 }
 .container-userhome{
  position: absolute;
  top:28%;
  width: 100%;
  height: auto;
  background: rgb(255, 255, 255);
 }
.notify{
  background-color: rgb(238, 70, 70);
  border-radius: 40%;
  position: absolute;
  top: 5px;
  left: 100px;
  width: 15px;
  height: 20px;
  line-height: 1rem;
  color: rgb(255, 255, 255);
}
.pro_de_bu{
  position: absolute;
  right: 20%;
  bottom: 20%;
  border-radius: 20px;
  border: 0cm;
  background-color: rgb(241, 64, 64);
  color: rgb(255, 255, 255);
  width: 200px;
  height: 35px;
}
.cart_text{
  color: blue;
  position: relative;
  top: 1%;
  left: 20%;
}