{% extends 'base.html' %}
{% block content %}

{% if not cart_item %}
    <h4> Sorry Your Cart is Empty ! </h4>
{% else %}
    <section id="cart" class="section-p1">
        <table width="100%">
            <thead>
                <tr>
                    <td style="width: 100px;">Image</td>
                    <td style="width: 250px;">Product</td>
                    <td style="width: 150px;">Variations</td>
                    <td style="width: 100px;">Price</td>
                    <td style="width: 150px;">Quantity</td>
                    <td>Subtotal</td>
                    <td>Remove</td>
                </tr>
            </thead>
            <tbody>
            {% for x in cart_item %}
                <tr>
                    <td><a href="{{ x.product.get_url }}"><img src="{{ x.product.images.url }}" ></a></td>
                    <td><a href="{{ x.product.get_url }}">{{x.product}}</a></td>
                    <td style="font-size: small;" >size : {{ x.size }} <br> color : {{ x.color }}</td>
                    <td>$ {{x.product.price}}</td>
                    <td>
                        <a href="{% url 'add_cart' x.product.id x.size x.color %}">
                            <button type="button" class="btn btn-outline-dark me-3"><i class="fas fa-plus"></i></button></a>
                         {{x.quantity}}
                        <a href="{% url 'remove_cart' x.product.id x.size x.color %}">
                            <button class="btn btn-outline-dark ms-3"><i class="fas fa-minus"></i></button></a>
                    </td>
                    <td>$ {{x.sub_total}}</td>
                    <td><a href="{% url 'delete_cart' x.product.id x.size x.color %}"><button class="btn btn-danger">Remove</button></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>

    <section id="cart-add_1" class="section-p1">
        <div id="subtotal">
            <h3>Cart Totals</h3>
            <table>
                <tr>
                    <td>Cart Subtotal</td>
                    <td>$ {{ total }}</td>
                </tr>
                <tr>
                    <td>Tax</td>
                    <td>$ {{ tax }}</td>
                </tr>
                <!-- <tr>
                    <td>Discout</td>
                    <td>$ {{ discount }}</td>
                </tr> -->
                <tr>
                    <td><strong>Total</strong></td>
                    <td><strong>$ {{ grand_total }}</strong></td>
                </tr>
            </table>
             <a href="{% url 'checkout' %}"><button>Proceed to checkout</button></a>
             <p> {{ code }} </p>
        </div>
        <div id="coupon">
            <h3>Apply Coupon</h3>
            <form action="#" method="POST">
                {% csrf_token %}
                    {{ form.code }}
                <button type="submit" name="coupon" >Apply</button>
            </form>
        </div>
    </section>
<!--<h3>{{x.product.id}}</h3>-->

{% endif %}


    {% endblock %}


