{% extends 'base.html' %}
{% block content %}

  <!-- productdetails -->
    <div class="container p-3">
    <div class="row">
        <div class="col">
            <div class="card"style="border: 2px solid rgb(189, 199, 193);">
                <img src="{{single_product.images.url}}">
            </div>
        </div>
        <div class="col">
            <div class="card p-3 my-3" style="background-color:rgb(220, 233, 233) ;">
                <form action="{% url 'add_cart' single_product.id single_product.size single_product.color %}" method="GET">
                    <div style="width: 80px;background-color:rgb(28, 92, 70);color:white; border-radius: 5px;">
                        <h6 class="px-3"> {{ single_product.category }}</h6>
                    </div>
                    <h4 style="color:rgb(63, 104, 85) ;">{{single_product.product_name}}</h4>
                    <h2 style="font-size:medium ; color: brown;" >$ {{single_product.price}}</h2>
        
                    <div class="card py-1" style="width: 30%;border: none;">
                        <select name="size" class="form-select form-select-sm" aria-label=".form-select-sm example">
                            {% for x in sizes %}
                            <option value1="{{ x.size }}">{{ x.size }}</option>
                            {% endfor %}
                          </select>
                    </div>
        
                    <div class="card py-1" style="width: 30%;border: none;">
                        <select name="color" class="form-select form-select-sm" aria-label=".form-select-sm example">
                            {% for x in colors %}
                            <option value2="{{ x.color }}">{{ x.color }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="btn-group m-3" role="group" aria-label="Basic outlined example">
                        <button type="submit" class="btn btn-outline-success px-3"><i class="far fa-shopping-cart"></i></button>
                        <a href="{% url 'add_fav' single_product.slug %}" type="button" class="btn btn-outline-primary px-3"><i class="far fa-heart"></i></a>
                    </div>
                    <h4 style="font-size:large ;">{{single_product.description}}</h4>
                    </form>
            </div>
        </div>
      </div>
    </div>




{% endblock %}