{% extends 'base.html' %}
{% block content %}
{% load static %}


<!-- filter products -->



 <!-- product section -->
 <div class="container text-center d-flex flex-column align-items-center ">
    {% if result_count < 1 or si_count < 1 %}
    <img class="m-3 p-1" src="{% static 'images/no_product_5.png' %}" width="80%">
    {% else %}
    <h3 class="text-center pt-3 ">Our Products</h3>
    <div class="row align-items-center">
        {% if 'keyword' in request.GET %}
        {% for x in search_products %}
        <div class="col">
          <div class="card m-3" style="width: 13rem; height: auto;border-radius: 30px;">
              <a href="{{ x.get_url }}"> <img src="{{ x.images.url }}" width="auto" class="card-img-top p-3" alt=""></a>
              <div class="card-body">
                <h5 class="card-title">{{ x.product_name }}</h5>
                <p class="card-text m-1">$ {{x.price}}</p>
                <a href="#" class="btn btn-sm btn-outline-primary">View details</a>
              </div>
          </div>
        </div>
        {% endfor %}

        {% else %}

        {% for x in product %}
        <div class="col">
          <div class="card m-3" style="width: 13rem; height: auto;border-radius: 30px;">
              <a href="{{ x.get_url }}"> <img src="{{ x.images.url }}" width="auto" class="card-img-top p-3" alt=""></a>
              <div class="card-body">
                <h5 class="card-title">{{ x.product_name }}</h5>
                <p class="card-text m-1">$ {{x.price}}</p>
                <a href="#" class="btn btn-sm btn-outline-primary">View details</a>
              </div>
          </div>
        </div>
        {% endfor %}

        {% for x in single_category %}
        <div class="col">
          <div class="card m-3" style="width: 13rem; height: auto;border-radius: 30px;">
              <a href="{{ x.product.get_url }}"> <img src="{{ x.images.url }}" width="auto" class="card-img-top p-3" alt=""></a>
              <div class="card-body">
                <h5 class="card-title">{{ x.product_name }}</h5>
                <p class="card-text m-1">$ {{x.price}}</p>
                <a href="#" class="btn btn-sm btn-outline-primary">View details</a>
              </div>
          </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endif %}
 </div>


    
 

{% endblock %}

